@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

.title h2 {
  padding-left: 20px;
  font-size: 4em;
  font-family: 'Parisienne', cursive;
  color: #3e3e3e;
}

html, body {
  height:100%;
}

a {
  color: #f3785b;
  text-decoration: none;
}

a:hover {
  color: #f8b4a4;
  text-decoration: none;
}

h2 {
  font-size: 22px;
  line-height:32px;
}

h3 {
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform:uppercase;
}

h4 {
  font-size: 18px;
}

.main-app, p {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 26px;
  color: #3e3e3e;
}

.main-body {
  margin-bottom: 20px;
}

.large-font {
  color: white;
  padding-left: 10%;
  font-size: 6em;
  letter-spacing:normal;
  font-family: 'Parisienne', cursive;
}

.large-font.black {
  color: black;
}

.party-heading {
  text-align: center;
  margin:20px;
  padding: 60px;
}

.parallex {
  min-height: 100vh;
  padding-top: 35vh;
  background-attachment: fixed;
  background-size: cover;
  position: static;
  background-position: 80% 30%;
}

.navbar.navbar-cust {
  background-color: white;
  border-color: white;
  margin: 10px;
}

.text-view {
  min-height: 50vh;
  background-color: white;
  margin: 100px 300px;
}

.text-header {
  font-size: 16px;
  margin: 35px 300px;
}

.navbar-brand.nav-title {
  font-size: 20px;
  padding: 15px 0px 15px 80px;
  cursor: default;
}

.navbar-default .navbar-brand {
    color: #3e3e3e;
  }

.navbar-default .navbar-header .navbar-brand.nav-title:hover {
  color:#3e3e3e;
}

.navbar-default .navbar-nav.nav-cust>.active>a {
  background-color: white;
  text-decoration: none;
  color: #f3785b;

}.navbar-default .navbar-nav.nav-cust a:hover {
  background-color: white;
  color: #f8b4a4;
}

.navbar-default .navbar-nav.nav-cust a{
  color:#bebebe;
  text-transform: lowercase;

}

.nav.nav-cust {
  font-size: 14px;
  font-weight: 200;
  color: #3e3e3e;
  padding-right:80px;
}

.navbar-collapse.collapse {
  padding: 0px;
}

.thumbnail {
  cursor: pointer;
}

.carousalImgContainer {
  text-align: center;
}

.carousalImg {
  max-height: 80vh;
}

.modalBackground {
  background-color: black;
}

.modalBackground.modalHeader{
  border-color: black;
}

.modalHeader button {
  color: white;
  opacity: 0.5;
}

.modalHeader button:hover {
  color: white;
  opacity: 0.9;
}

@media (min-width: 768px){
  .modal>.modal-dialog {
    width: auto;
  }
}

@media (min-width: 992px){
  .modal>.modal-lg {
    width: 900px;
  }
}

.gridContainer {
  margin: 25px 0px;
}

.center-text {
  text-align: center;
}

.halfBlockText {
  background-color: white;
  height: 100%;
}

.profile-full-text {
  margin-left: 10px;
}

.profile-full-text h1 {
  font-family: 'Parisienne', cursive;
  font-size: 40px;
  text-align: center;
}

.profile-full {
  max-width: 100%;
  max-height:100%;
  margin-left: 10px;
}

.profile-card {
  margin: 15px 0px;
  margin-right: 10px;
  padding: 20px 80px 20px 80px;
}

.profile-avatar {
  float: left;
  height: 130px;
  margin-right: 10px;
}

.img-rounded {
    border-radius: 0px;
}

.profile-body {
  overflow:hidden;
}

.profile-body h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  margin-top: 0px;
}

.profile-body h4 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform:uppercase;}

.test {
  text-align: justify;
  font-size: 14px;
}

.rsvpForm {
  width:30%;
  margin:80px auto;

}

.inviteForm {
  width:50%;
  margin:80px auto;
}

.btn-findRsvp {
  color: #fff;
  background-color: #f8b4a4;
  border-color: #f3785b;
}

.btn-findRsvp.focus, .btn-findRsvp:focus, .btn-findRsvp:hover {
  color: #f3785b;
  text-decoration: none;
}

.invitee-name {
  font-size: 16px;
  font-weight: 200;
}

.rsvp-text {
  margin: 20px 0px;
}

.tableWidth {
  width: 50%;
}

.retry {
  text-align: center;
}

.retry-msg {
  margin: 20px;
}

.thankyou {
  padding:20px;
  text-align: center;
}

.thankyou-msg {
  margin: 50px;
  font-size: 6em;
  letter-spacing:normal;
  font-family: 'Parisienne', cursive;
}

/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .parallex {
    background-attachment: scroll;
  }
  .text-view {
    margin: 100px 100px;
  }
  .text-header {
    margin: 20px 100px;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .parallex {
    background-attachment: scroll;
  }
  .text-view {
    margin: 100px 100px;
  }
  .text-header {
    margin: 20px 100px;
  }
}

@media only screen and (max-device-width: 768px) {
  .parallex {
    background-attachment: scroll;
  }
  .text-view {
    margin: 100px 100px;
  }
  .text-header {
    margin: 20px 100px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
    display: none !important;
  }
  .text-view {
    margin: 100px 100px;
  }
  .text-header {
    margin: 20px 100px;
  }
}

@media (max-width: 875px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #f8b4a4; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
