@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.title h2 {
  padding-left: 20px;
  font-size: 4em;
  font-family: 'Tangerine', cursive;
  color: #848482;
}

html, body {
  height:100%;
}

.main-app {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.large-font {
  color: white;
  padding-left: 10%;
  font-size: 9em;
  font-family: 'Tangerine', cursive;
}

.large-font.black {
  color: black;
}

.parallex {
  min-height: 100vh;
  padding-top: 35vh;
  background-attachment: fixed;
  background-size: cover;
  position: static;
  background-position: 80% 30%;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .parallex {
    background-attachment: scroll;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .parallex {
    background-attachment: scroll;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .parallex {
    background-attachment: scroll;
  }
}

.navbar.navbar-cust {
  background-color: white;
  border-color: white;
  margin: 10px;
}

.text-view {
  min-height: 50vh;
  background-color: white;
  margin: 35px;
}

.text-header {
  border: 1px solid #777;
  font-size: 16px;
  padding: 15px;
  margin: 20px;
}

.navbar-brand.nav-title {
  font-size: 30px;
  padding: 15px 0px 15px 20px;
  cursor: default;
}

.navbar-default .navbar-header .navbar-brand.nav-title:hover {
  color: #777;
}

.navbar-default .navbar-nav.nav-cust>.active>a {
  background-color: white;
  color: #111;
  text-decoration: underline;
}

.navbar-default .navbar-nav.nav-cust>.active>a:hover {
  background-color: white;
  color: #111;
}

.nav.nav-cust {
  font-size: 20px;
  font-weight: 200;
}

.navbar-collapse.collapse {
  padding: 0px;
}

.thumbnail {
  cursor: pointer;
}

.carousalImgContainer {
  text-align: center;
}

.carousalImg {
  max-height: 80vh;
}

.modalBackground {
  background-color: black;
}

.modalBackground.modalHeader{
  border-color: black;
}

.modalHeader button {
  color: white;
  opacity: 0.5;
}

.modalHeader button:hover {
  color: white;
  opacity: 0.9;
}

@media (min-width: 768px){
  .modal>.modal-dialog {
    width: auto;
  }
}

@media (min-width: 992px){
  .modal>.modal-lg {
    width: 900px;
  }
}

.gridContainer {
  margin: 25px 0px;
}

.center-text {
  text-align: center;
}

.halfBlockText {
  background-color: white;
  height: 100%;
}
